{% extends "layouts/base.html" %}

{% block title %} Presentation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(35, 16, 119);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(35, 16, 119);
    cursor: pointer;
  }
  </style>{% endblock stylesheets %}

{% block content %}



<section class="section section bg-primary pb-11 pb-lg-12 text-white overflow-hidden z-2">
    <div class="container z-2">
        <div class="row justify-content-center text-center pt-6 pb-3" role="banner">
            <div class="col-12 col-md-8">
                <h1 class="display-1 font-weight-light mb-3">Emotion Tracker</h1>
        
        <p>Here is where you log your emotions. Tell us your feelings! </p>
            </div>
        </div>
        <canvas id="myChart">
          
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        </canvas>

    </div>
</section>

<div class="section section-lg pb-5">
    <div class="container">
      <h1>Slide each value to match how you feel:</h1>
      <div class="slidecontainer">
        <input type="range"  min="0" max="100" value="0" class="slider" id="myRange">
        <p>Happy: <span id="demo"></span></p>
      </div> 

      <div class="slidecontainer">
        <input type="range"  min="0" max="100" value="0" class="slider" id="myRange1">
        <p>Calm: <span id="demo1"></span></p>
      </div> 
      
      <div class="slidecontainer">
        <input type="range"   min="0" max="100" value="0" class="slider" id="myRange2">
        <p>Optimistic: <span id="demo2"></span></p>
      </div> 

      <div class="slidecontainer">
        <input type="range"   min="0" max="100" value="0" class="slider" id="myRange3">
        <p>Anxious: <span id="demo3"></span></p>
      </div> 

      <div class="slidecontainer">
        <input type="range"   min="0" max="100" value="0" class="slider" id="myRange4">
        <p>Sad: <span id="demo4"></span></p>
      </div> 

      <div class="slidecontainer">
        <input type="range"   min="0" max="100" value="0" class="slider" id="myRange5">
        <p>Stressed: <span id="demo5"></span></p>
      </div> 

      <div class="slidecontainer">
        <input type="range"  min="0" max="100" value="0" class="slider" id="myRange6">
        <p>Angry: <span id="demo6"></span></p>
      </div> 

      <div>
        <button type="button" class="btn btn-primary" onclick="updateChart()">Save</button>
      </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script>
var slider = document.getElementById("myRange");
var slider1 = document.getElementById("myRange1");
var slider2 = document.getElementById("myRange2");
var slider3 = document.getElementById("myRange3");
var slider4 = document.getElementById("myRange4");
var slider5 = document.getElementById("myRange5");
var slider6 = document.getElementById("myRange6");

var output = document.getElementById("demo");
var output1 = document.getElementById("demo1");
var output2 = document.getElementById("demo2");
var output3 = document.getElementById("demo3");
var output4 = document.getElementById("demo4");
var output5 = document.getElementById("demo5");
var output6 = document.getElementById("demo6");

output.innerHTML = slider.value;
output1.innerHTML = slider1.value;
output2.innerHTML = slider2.value;
output3.innerHTML = slider3.value;
output4.innerHTML = slider4.value;
output5.innerHTML = slider5.value;
output6.innerHTML = slider6.value;

slider.oninput = function Happy() {
  output.innerHTML = this.value;
}

slider1.oninput = function Calm() {
  output1.innerHTML = this.value;
}

slider2.oninput = function Optimistic() {
  output2.innerHTML = this.value;  
}

slider3.oninput = function Anxious() {
  output3.innerHTML = this.value;
}

slider4.oninput = function Sad() {
  output4.innerHTML = this.value; 
}

slider5.oninput = function Anxious() {
  output5.innerHTML = this.value;  
}

slider6.oninput = function Sad() {
  output6.innerHTML = this.value; 
}



var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'pie',

    // The data for our dataset
    data: {
        labels: ['Happy', 'Calm', 'Optimistic', 'Anxious', 'Sad', 'Stressed', 'Angry', 'CLICK TO UPDATE'],
        datasets: [{
            label: 'Emotions',
            data: [output.innerHTML, output1.innerHTML, output2.innerHTML, output3.innerHTML, output4.innerHTML, output5.innerHTML, output6.innerHTML],
            backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(0, 210, 217, 0.2)',
                    'rgba(255, 234, 0, 0.2)',
                    'rgba(85, 0, 255, 0.2)',
                    'rgba(255, 83, 64, 0.2)',
                    'rgba(140, 255, 102, 0.2)'
                ],
                borderColor: [
                'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(0, 210, 217, 1)',
                    'rgba(255, 234, 0, 1)',
                    'rgba(85, 0, 255, 1)',
                    'rgba(255, 83, 64, 1)',
                    'rgba(140, 255, 102, 1)'
                ],
        }
      ]

    },

    // Configuration options go here
    options: {}
});

function updateChart(Chart){
  chart.data.datasets[0].data = [output.innerHTML, output1.innerHTML, output2.innerHTML, output3.innerHTML, output4.innerHTML, output5.innerHTML, output6.innerHTML];
  $.ajax({
            method: 'post',
            url: '/process',
              type:'POST',
               traditional:true,
                    data:{
                        output:slider.value,
                        output1:slider1.value,
                        output2:slider2.value,
                        output3:slider3.value,
                        output4:slider4.value,
                        output5:slider5.value,
                        output6:slider6.value
                            }
       })
  Chart.update();
 
}
</script>

{% endblock javascripts %}
