{% extends "layouts/base.html" %}

{% block title %} Presentation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <!-- Hero -->
        <section class="section section bg-primary pb-11 pb-lg-12 text-white overflow-hidden z-2">
            <div class="container z-2">
                <div class="row justify-content-center text-center pt-6 pb-3" role="banner">
                    <div class="col-12 col-md-8">
                        <h1 class="display-1 font-weight-light mb-3">Want more resoures?</h1>
                <p>Mental health is a tricky topic, and while it is good to know your emotions, sometimes you need more help. </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="section section-lg pb-5">
            <div class="container">
                <div class="row justify-content-center mt-4">
                    
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card border-light">
                            <img src="/static/assets/img/blog/nami-logo-blue.jpg" class="card-img-top rounded-top" alt="Nami Logo">
                            <div class="card-body">
                                <h2 class="h5 mt-3">National Alliance on Mental Illness</h2>
                                <p class="card-text">"NAMI is the National Alliance on Mental Illness, the nation’s largest grassroots mental health organization dedicated to building better lives for the millions of Americans affected by mental illness."</p>
                                <a href="https://www.nami.org/Home" class="btn btn-primary btn-sm">Visit Site</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card border-light">
                            <img src="/static/assets/img/blog/maxresdefault.jpg" class="card-img-top rounded-top" alt="Noisli Logo">
                            <div class="card-body">
                                <h2 class="h5 mt-3">Noisli</h2>
                                <p class="card-text">"With Noisli you can mix and match different sounds in order to create your perfect sound environment."</p>
                                <a href="https://www.noisli.com/" class="btn btn-primary btn-sm">Visit Site</a>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card border-light">
                            <img src="/static/assets/img/blog/Headspace-logo.png" class="card-img-top rounded-top" alt="BetterHelp Logo">
                            <div class="card-body">
                                <h2 class="h5 mt-3">Headspace</h2>
                                <p class="card-text">"Headspace has one mission: to improve the health and happiness of the world. "</p>
                                <a href="https://www.headspace.com/?utm_source=google&utm_medium=cpc&utm_campaign=1919439341&utm_content=68065219102&utm_term=409649586657&headspace&gclid=CjwKCAjw2uf2BRBpEiwA31VZj17mWNWs0EI7MXwXRfrxE99uHFMqWyk03F7zqFn8Ix7m4dDf0NvEgxoChq0QAvD_BwE" class="btn btn-primary btn-sm">Visit Site</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card border-light">
                            <img src="/static/assets/img/blog/logo.svg" class="card-img-top rounded-top" alt="BetterHelp Logo">
                            <div class="card-body">
                                <h2 class="h5 mt-3">MentalHealth.gov</h2>
                                <p class="card-text">"MentalHealth.gov provides one-stop access to U.S. government mental health and mental health problems information."</p>
                                <a href="https://www.mentalhealth.gov/" class="btn btn-primary btn-sm">Visit Site</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card border-light">
                            <img src="/static/assets/img/blog/BetterHelp.png" class="card-img-top rounded-top" alt="BetterHelp Logo">
                            <div class="card-body">
                                <h2 class="h5 mt-3">BetterHelp</h2>
                                <p class="card-text">"BetterHelp offers access to licensed, trained, experienced, and accredited psychologists (PhD / PsyD), marriage and family therapists (LMFT), clinical social workers (LCSW / LMSW), and board licensed professional counselors (LPC)."</p>
                                <a href="https://www.betterhelp.com/helpme/?utm_source=AdWords&utm_medium=Search_PPC_c&utm_term=betterhelp_e&utm_content=25637168530&network=g&placement=&target=&matchtype=e&utm_campaign=177007450&ad_type=text&adposition=&gclid=CjwKCAjw2uf2BRBpEiwA31VZj0JUhlMgqrZHJK_kjXVenB0XpVJRjzqsDiHfWKtmIjhYDx_9L9CImhoCyHgQAvD_BwE&not_found=1&gor=helpme" class="btn btn-primary btn-sm">Visit Site</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card border-light">
                            <img src="/static/assets/img/blog/half-of-us-logo.png" class="card-img-top rounded-top" alt="BetterHelp Logo">
                            <div class="card-body">
                                <h2 class="h5 mt-3">Half of Us</h2>
                                <p class="card-text">"Through Half of Us, mtvU and The Jed Foundation aim to initiate a public dialogue to raise awareness about the prevalence of mental health issues and connect students to the appropriate resources to get help."</p>
                                <a href="http://www.halfofus.com/" class="btn btn-primary btn-sm">Visit Site</a>
                            </div>
                        </div>
                    </div>



            </div>
        </div>
        </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
